{% extends "blog/base.html" %}
{% load crispy_forms_tags %} <!--loads crispy_forms into the page-->
{% block content %}

    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"><!-- don't forget to add media routes to url patterns -->
            <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}   <!--django requires always csrf_token with forms -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> 
                    Profile info
                </legend>
                {{ u_form|crispy }} <!-- '|crispy' adds crispy_forms to current form-->
                {{ p_form|crispy }} <!-- '|crispy' adds crispy_forms to current form-->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>

{% endblock content %}